@charset "utf-8";

html {font-size: 62.5%;}

$ja_font : "Sawarabi Mincho","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$en_font : 'Domine';
$ast : 'EB Garamond';
$title : "Helvetica Neue";
$hand : 'Mr Dafoe';

.container{
    max-width: 1400px;
}

$gray1 : #f7f8f8;
$gray2 : #696969;
$gold : #dacd66;

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 200;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

body{
    a{
        cursor: pointer;
        position: relative;
    }
    @media screen and (max-width: 550px){
        .container{width: 100%;}
    }
}

@keyframes .fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes .fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@mixin j_text{
    font-family: $ja_font;
    font-size:1.6rem;
    letter-spacing: 0.5rem;
}

//-----------------------------------------------------------------coding start

   .swiper-container {
        width: 100%;
        height: 420px;
        .swiper-wrapper{
            img{
                max-width: 1000px;
            }
        }
    }
    .swiper-button-next{
        height: 90px;
        background-image: url("../image/page_next.svg");
        background-size: cover;
        background-position: center center;
    }
    
    .swiper-button-prev{
        height: 90px;
        background-image: url("../image/page_prev.svg");
        background-size: cover;
        background-position: center center;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
.textbox{
   text-align: justify;
}

#home{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    display: block;
    img{
        margin-top: 5px;
    }
    @media screen and (max-width: 550px){
        .container{
            padding: 0;
        }
    }
}

.pc_navi{
    padding: 0;
    
    .pc_navi_li{
        text-align: right;
        margin: 25px 0 0 0;
        
        li{
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            
            a{
                color: #000;
                text-decoration: none;
                font-family: $en_font;
                font-weight: 650;
                font-size: 1.6rem;
            }
        }
    }//pc navi li

    .cl-effect-4 a {
	    padding: 0 0 5px;
    }

    .cl-effect-4 a::after {
    	position: absolute;
    	top: 100%;
    	left: 0;
    	width: 100%;
    	height: 1px;
    	background: #000;
    	content: '';
    	opacity: 0;
    	-webkit-transition: height 0.2s, opacity 0.3s, -webkit-transform 0.3s;
    	-moz-transition: height 0.2s, opacity 0.3s, -moz-transform 0.3s;
    	transition: height 0.2s, opacity 0.3s, transform 0.3s;
    	-webkit-transform: translateY(-10px);
    	-moz-transform: translateY(-10px);
    	transform: translateY(-10px);
    }
    
    .cl-effect-4 a:hover::after,
    .cl-effect-4 a:focus::after {
    	height: 2px;
    	opacity: 1;
    	-webkit-transform: translateY(0px);
    	-moz-transform: translateY(0px);
    	transform: translateY(0px);
    }//effect
    
}//pc navi

@media screen and (max-width: 550px){
.pc_navi { display: none;}
}

.sp_navi{
    ul{
        text-align: right;
        list-style: none;
        margin-top: 30%;
        .nav_icon{
            float: right;
        }
        li a{
            color: #000;
            margin: 10px 30px 0 0;
            font-size: 2.4rem;
            font-family: $en_font;
        }
    }
}

@media screen and (min-width: 550px){
.sp_navi { display: none;}
}

.center{
    position: absolute;
    top: 14px;
    right: 70px;
    bottom: 0;
    // left: 0;
    a{
        text-decoration: none;
        margin-right: 8px;
        img{
            width: 4rem;
        }
    }
}
@media screen and (min-width: 550px){
    .center{display: none;}
}

//--------------------------------------------------------drawer
.pure-drawer {
  background-color: $gray1;
}
.pure-toggle-label {
  border: none;
}

.pure-toggle-label .pure-toggle-icon,
.pure-toggle-label .pure-toggle-icon:before,
.pure-toggle-label .pure-toggle-icon:after {
  background-color: $gold;
}
.pure-toggle-label:hover .pure-toggle-icon,
.pure-toggle-label:hover .pure-toggle-icon:before,
.pure-toggle-label:hover .pure-toggle-icon:after {
  background-color: $gold;
}
.pure-toggle-label[data-toggle-label='right']{
    right: 13px;
    top: 5px;
}

@media screen and (max-width: 550px){
.pc_slide { display: none;}
}
//--------------------------------------------------------drawer


#top{
    position: relative;
    height: 560px;
    max-width: 1400px;
    margin: 0 auto;
    background-image: url("../image/top-cover.png");
    background-size: cover;
    background-position: center center;
        
        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/top-cover@2x.png"); 
                          }
    
    .logo_18{
        position: absolute;
        top: 140px;
        left: 10%;
    }
}
@media screen and (max-width: 550px){
#top { display: none;}
}

.title{
    text-align: center;
    img{
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
    }
    p{
        @include j_text;
        margin: 40px 10px 60px 10px;
        span{
            text-transform: uppercase;
        }
        @media screen and (max-width: 550px){
            margin: 30px 0;
            font-size: 1.4rem;
            padding: 0 20px;
        }
        @media screen and (min-width: 550px){
            .sp_br{display: none;}
        }
    }
}
@media screen and (max-width: 769px){
    .title{
        width: 90%;
    }
    .sp_slide{
        width: 100%;
    }
}

#top2{
    position: relative;
    height: 520px;
    background-image: url("../image/sp-top.jpg");
    background-size: cover;
    background-position: center center;
    @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/sp-top@2x.jpg"); 
                          }
}
@media screen and (min-width: 550px){
#top2 { display: none;}
}

.sub_title{
    text-align: center;
    padding: 0;
    @media screen and (max-width: 550px){
        background: $gray1;
    }
    .sp_door{
        text-align: center;
        margin-bottom: 20px;
        .sp_door_image{
            margin: 0;
            height: 280px;
            background-image: url("../image/2face.png");
            background-size: cover;
            background-position: right center;
        }
        h2{
            font-family: $ast;
            font-size: 2.8rem;
            color: $gold;
            margin-top: 70px;
        }
        p{
            font-size: 1.5rem;
        }
    }
    @media screen and (min-width: 550px){
        .sp_door { display: none;}
    }
    
    h2{
        font-family: $ast;
        font-size: 3.2rem;
        letter-spacing: .3rem;
        color: $gold;
        margin-top: 20px;
        @media screen and (min-width: 550px){
        .br_sp { display: none;}
        }
    }
    p{
        @include j_text;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 550px){
        .pc_sub { display: none;}
    }

.premium{
    position: relative;
    text-align: center;
    .premium_img{
        height: 0;
        padding-top: 42.16%;
        background-image: url("../image/inside-pano.jpg");
        background-size: cover;
        background-position: center center;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 1600px;
        
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
                                          
            background-image: url("../image/inside-pano@2x.jpg"); 
                              }
            @media screen and (max-width: 550px){
                    background-image: url("../image/inside-sp.jpg");
                    background-size: cover;
                    background-position: center center;
                    padding: 0;
                    height: 400px;
            }
    }
    h3{
        font-size: 8rem;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        font-family: $hand;
        color: white;
        text-shadow: 1px 1px 1px #000;
        @media screen and (max-width: 550px){
            font-size: 6rem;
        }
        @media screen and (min-width: 550px){
            .sp_br{display: none;}
        }
    }
}

.textbox{
    @include j_text;
    padding: 0 30px;
    margin-bottom: 60px;
    span{
        text-transform: uppercase;
    }
    @media screen and (max-width: 550px){
            padding: 0;
            font-size: 1.4rem;
            padding: 0 30px;
        }
    
    .long1{
    margin-top: 60px;
    height: 600px;
    background-image: url("../image/long2.jpg");
    background-size: cover;
    background-position: center center;
        
        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/long2@2x.jpg"); 
                          }
    
        @media screen and (max-width: 550px){
            height: 400px;
        }
    }
    
    .long2{
    margin-bottom: 60px;
    height: 600px;
    background-image: url("../image/front2.png");
    background-size: cover;
    background-position: center center;
        
        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/front2@2x.png"); 
                          }
                          
        @media screen and (max-width: 550px){
            height: 400px;
            margin: 60px 0 0 0;
        }
    }
    
    .long3{
    margin-bottom: 60px;
    height: 600px;
    background-image: url("../image/drive_back.jpg");
    background-size: cover;
    background-position: center center;
        
        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/drive_back@2x.jpg"); 
                          }
    
        @media screen and (max-width: 550px){
            height: 400px;
            margin: 60px 0 0 0;
        }
    }
    
    .long4{
    height: 600px;
    background-image: url("../image/long4.jpg");
    background-size: cover;
    background-position: center center;
        
        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/long4@2x.jpg"); 
                          }
    
        @media screen and (max-width: 550px){
            height: 400px;
            
        }
    }
    @media screen and (max-width: 550px){
        .pc_p{display: none;}
    }
    @media screen and (min-width: 550px){
        .sp_p{display: none;}
    }
    
    h4{
        font-size: 2.4rem;
        font-family: "ヒラギノ角ゴ Pro W3";
        font-weight: 400;
        }
    @media screen and (max-width: 550px){
            .pc_h4{display: none;}
        }
    @media screen and (min-width: 550px){
            .sp_h4{display: none;}
    }
}//textbox

.rapping{
    margin-bottom: 100px;
    height: 420px;
    background-image: url("../image/premium-end.jpg");
    background-size: cover;
    background-position: center center;
        
        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/premium-end@2x.jpg"); 
                          } 

    @media screen and (max-width: 550px){
            display: none;
        }
}

.ad{
    margin-bottom: 100px;
    height: 420px;
    background-image: url("../image/combi.jpg");
    background-size: cover;
    background-position: center center;
        
        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/combi@2x.jpg"); 
                          } 

    @media screen and (max-width: 550px){
            display: none;
        }
}

.what{
    position: relative;
    text-align: center;
    .what_img{
        height: 0;
        padding-top: 42.16%;
        background-image: url("../image/on-city.png");
        background-size: cover;
        background-position: center center;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 1600px;
        
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
                                          
            background-image: url("../image/on-city@2x.png"); 
                              }
            @media screen and (max-width: 550px){
                     background-image: url("../image/on-city.png");
                    background-size: cover;
                    background-position: center center;
                    padding: 0;
                    height: 400px;
            }
    }
    h3{
        font-size: 8rem;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        font-family: $hand;
        color: white;
        text-shadow: 1px 1px 1px #000;
        @media screen and (max-width: 550px){
            font-size: 6rem;
        }
        @media screen and (min-width: 550px){
            .sp_br{display: none;}
        }
    }
}

#tile{
    margin: 0 auto;
    margin-top: 70px;
    max-width: 1200px;
        .box1{
            .return{
                position: relative;
                height: 400px;
                background-image: url("../image/18_top.png");
                background-size: cover;
                background-position: center center;
                    
                    @media screen and (-webkit-min-device-pixel-ratio:2),
                                      (min-resolution: 2dppx){
                                                  
                    background-image: url("../image/18_top@2x.png"); 
                                      } 
                .cover1{
                    width: 100%;
                    height: 400px;
                    background: rgba(0,0,0,0.6);
                    text-align: center;
                    opacity: 0;
                    h4{
                        position: absolute;
                        top: 72%;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        margin: 0 auto;
                        font-size: 5rem;
                        font-family: $title;
                        font-weight: 500;
                        color: white;
                        text-transform: uppercase;
                    }
                }
            }
            .gallery{
                position: relative;
                height: 400px;
                background-image: url("../image/to-gallery.jpg");
                background-size: cover;
                background-position: center center;
                .cover1{
                    width: 100%;
                    height: 400px;
                    background: rgba(0,0,0,0.6);
                    text-align: center;
                    opacity: 0;
                    h4{
                        position: absolute;
                        top: 72%;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        margin: 0 auto;
                        font-size: 5rem;
                        font-family: $title;
                        font-weight: 500;
                        color: white;
                        text-transform: uppercase;
                    }
                }
            }
            a{
                text-decoration: none;
            }
        }
        .box1:hover .cover1{
            opacity: 1;
            -webkit-transition: .4s;
        	transition: .4s;
        }//box1
        
        .box2{
            .ft_box1,.ft_box2{
                // position: relative;
                background-color: $gray1;
                height: 200px;
                z-index: 0;
            }
            .ft_16{
                    // position: absolute;
                    height: 200px;
                    background-image: url("../image/home_layout_16.svg");
                    background-size: cover;
                    background-position: center center;
                    z-index: 1;
                }
            .ft_20{
                    // position: absolute;
                    height: 200px;
                    background-image: url("../image/home_layout_20.svg");
                    background-size: cover;
                    background-position: center center;
                    z-index: 1;
                }   
            .ft_box1:hover {
                background-color: $gray2;
                -webkit-transition: .4s;
            	transition: .4s;
            }
            .ft_box2:hover {
                background-color: $gray2;
                -webkit-transition: .4s;
            	transition: .4s;
            }
        }//box2
        
        .box3{
            .contact{
                position: relative;
                height: 400px;
                background-image: url("../image/ditail.png");
                background-size: cover;
                background-position: center center;
                    
                    @media screen and (-webkit-min-device-pixel-ratio:2),
                                      (min-resolution: 2dppx){
                                                  
                    background-image: url("../image/ditail@2x.png"); 
                                      } 
                .cover2{
                    width: 100%;
                    height: 400px;
                    background: rgba(0,0,0,0.6);
                    text-align: center;
                    opacity: 0;
                    h4{
                        position: absolute;
                        top: 72%;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        margin: 0 auto;
                        font-size: 5rem;
                        font-family: $title;
                        font-weight: 500;
                        color: white;
                        text-transform: uppercase;
                    }
                }
            }
            a{
                text-decoration: none;
            }
        }
        .box3:hover .cover2{
            opacity: 1;
            -webkit-transition: .4s;
        	transition: .4s;
        }//box3
}//tile image

#sp_tile{
    text-align: center;
    a{
        text-decoration: none;
    }
    .box{
        background: $gray1;
        h4{
            font-family: $title;
            font-weight: 300;
            color: $gold;
            text-transform: uppercase;
            font-size: 3rem;
            padding: 15px 0;
            margin: 2px 0;
            letter-spacing: .3rem;
        }
    }
}

@media screen and (max-width: 550px){
    #tile{display: none;}
        }

@media screen and (min-width: 550px){
    #sp_tile{display: none;}
        }

footer{
    text-align: center;
    font-size: 1.4rem;
    font-family: $en_font;
    font-weight: 100;
    letter-spacing: .3px;
    margin: 40px 0;
    @media screen and (max-width: 550px){
        margin-bottom: 80px;
    }
}