@charset "utf-8";

html {font-size: 62.5%;}

$ja_font : "Sawarabi Mincho","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$en_font : 'Domine';
$ast : 'EB Garamond';
$title : "Helvetica Neue";

$gray1 : #f7f8f8;
$gray2 : #696969;
$gold : #dacd66;

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 200;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

@media screen and (min-width: 1400px){
    .container{
        max-width: 1400px;
    }
}

body{
    a{
        cursor: pointer;
    }
    @media screen and (max-width: 550px){
        .container{width: 100%;}
    }
}

@keyframes .fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes .fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


//-----------------------------------------------------------------coding start

.swiper-container {
        width: 90%;
        max-width: 1400px;
        height: 600px;
        @media screen and (max-width: 550px){
            height: 350px;
            width: 100%;
        }
        // @media screen and (min-width: 1400px)
        // width: ;
    }
    .swiper-button-next{
        height: 90px;
        background-image: url("../image/page_next.svg");
        background-size: cover;
        background-position: center center;
    }
    
    .swiper-button-prev{
        height: 90px;
        background-image: url("../image/page_prev.svg");
        background-size: cover;
        background-position: center center;
    }
    
    .swiper-pagination-bullet-active{
        background: $gold;
    }
    
    @media screen and (max-width: 550px){
        .swiper-button-next , .swiper-button-prev{display: none;}
    }
    
    .swiper-pagination-bullet{
        @media screen and (max-width: 550px){
            width: 5px;
            height: 5px;
        }
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

#home{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    img{
        margin-top: 5px;
    }
    @media screen and (max-width: 550px){
        .container{
            padding: 0;
        }
    }
}

.pc_navi{
    padding: 0;
    margin: 0 auto;
    
    .pc_navi_li{
        text-align: right;
        margin: 25px 0 0 0;
        
        li{
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            
            a{
                color: #000;
                text-decoration: none;
                font-family: $en_font;
                font-weight: 650;
                font-size: 1.6rem;
            }
        }
    }//pc navi li

    .cl-effect-4 a {
	    padding: 0 0 5px;
    }

    .cl-effect-4 a::after {
    	position: absolute;
    	top: 100%;
    	left: 0;
    	width: 100%;
    	height: 1px;
    	background: #000;
    	content: '';
    	opacity: 0;
    	-webkit-transition: height 0.2s, opacity 0.3s, -webkit-transform 0.3s;
    	-moz-transition: height 0.2s, opacity 0.3s, -moz-transform 0.3s;
    	transition: height 0.2s, opacity 0.3s, transform 0.3s;
    	-webkit-transform: translateY(-10px);
    	-moz-transform: translateY(-10px);
    	transform: translateY(-10px);
    }
    
    .cl-effect-4 a:hover::after,
    .cl-effect-4 a:focus::after {
    	height: 2px;
    	opacity: 1;
    	-webkit-transform: translateY(0px);
    	-moz-transform: translateY(0px);
    	transform: translateY(0px);
    }//effect
    
}//pc navi

@media screen and (max-width: 550px){
.pc_navi { display: none;}
}

.sp_navi{
    ul{
        text-align: right;
        list-style: none;
        margin-top: 30%;
        .nav_icon{
            float: right;
        }
        li a{
            color: #000;
            margin: 10px 30px 0 0;
            font-size: 2.4rem;
            font-family: $en_font;
        }
    }
}

@media screen and (min-width: 550px){
.sp_navi { display: none;}
}

//--------------------------------------------------------drawer
.pure-drawer {
  background-color: $gray1;
}
.pure-toggle-label {
  border: none;
}

.pure-toggle-label .pure-toggle-icon,
.pure-toggle-label .pure-toggle-icon:before,
.pure-toggle-label .pure-toggle-icon:after {
  background-color: $gold;
}
.pure-toggle-label:hover .pure-toggle-icon,
.pure-toggle-label:hover .pure-toggle-icon:before,
.pure-toggle-label:hover .pure-toggle-icon:after {
  background-color: $gold;
}
.pure-toggle-label[data-toggle-label='right']{
    right: 13px;
    top: 5px;
}

@media screen and (max-width: 550px){
.pc_slide { display: none;}
}
//--------------------------------------------------------drawer

.table{
    text-align: center;
}

@media screen and (max-width: 550px){
    .pc_table{display: none;}
}
@media screen and (min-width: 550px){
    .sp_table{display: none;}
}

//---------------------------------------------------footer
footer{
    text-align: center;
    font-size: 1.4rem;
    font-family: $en_font;
    font-weight: 100;
    letter-spacing: .3px;
    margin: 40px 0;
    @media screen and (max-width: 550px){
        margin-bottom: 80px;
    }
    .copy{
        pointer-events: none;
        text-decoration: none;
    }
}
//---------------------------------------------------footer

//---------------------------------------------------contact
#about{
    height: 670px;
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    background-image: url("../image/about-back.jpg");
    background-size: cover;
    background-position: center center;
    @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/about-back@2x.jpg"); 
                          }
    
    .container .company{
        margin-top: 150px;
        .about_us{
            height: 480px;
            width: 100%;
            background: rgba(0,0,0,.7);
            z-index: 1;
            box-sizing: border-box;
            padding: 30px;
            p{
                color: white;
                font-family: "Hiragino Kaku Gothic Pro";
                z-index: 10;
                text-decoration: none;
            }
            h3{
                color: $gold;
                z-index: 10;
            }
            h4{
                color: white;
                font-family: "Hiragino Kaku Gothic Pro";
                font-size: 2rem;
                z-index: 10;
            }
        }
    }
}

@media screen and (max-width: 550px){
    #about{
        height: 1200px;
        background-image: url("../image/about-sp.jpg");
        background-size: cover;
        background-position: center right;
        .container .company{
            h4{
                color: white;
            }
            .about_us{
                height: 60%;
                font-size: 1.4rem;
                input, textarea, label{
                    width: 100%;
                }
            }
        }
    }
}

th{
    display: inline-block;
    width: 80%;
    text-align: left;
    color: white;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 1.4rem;
    font-weight: 200;
    border-bottom: none;
}
input{
    font: 1em $title;
    width: 100%;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
input:focus, textarea:focus{
    border-color: $gold;
}
textarea{
    height: 100px;
    width: 100%;
}
.but{
    text-align: left;
    padding: 0;
    button{
        background: white;
        width: 100%;
        padding: 0;
    }
}
button:hover{
    background: $gold;
    transition: .3s;
}
h5{
    margin: 0;
    margin-top: 20px;
    color: white;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 1.4rem;
}

.clear{
    clear: both;
}

//---------------------------------------------------contact

//---------------------------------------------------16/20ft

h1{
    font-size: 2.4rem;
    font-family: $title;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 5rem;
    float: left;
    margin-top: 100px;
    span{
        text-transform: uppercase;
    }
}

.first{
    height: 420px;
    width: 100%;
    margin-top: 150px;
    max-width: 2000px;
    margin: 0 auto;
    margin-top: 150px;
    background-image: url("../image/16-first.jpg");
    background-size: cover;
    background-position: center center;
    @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/16-first@2x.jpg"); 
                          }
    @media screen and (max-width: 550px){
            height: 300px;
            background-position: center left;
        }
}

.level2{
    max-width: 2000px;
    .second{
        height: 400px;
        width: 100%;
        margin: 0 auto;
        background-image: url("../image/16-second.jpg");
        background-size: cover;
        background-position: center center;
        @media screen and (max-width: 550px){
            height: 300px;
            background-position: center left;
        }
    }
    .third{
        height: 400px;
        width: 100%;
        margin: 0 auto;
        background-image: url("../image/16-third.jpg");
        background-size: cover;
        background-position: center center;
        @media screen and (max-width: 550px){
            height: 300px;
        }
    }
}

.first20{
    height: 420px;
    width: 100%;
    margin-top: 150px;
    max-width: 2000px;
    margin: 0 auto;
    margin-top: 150px;
    background-image: url("../image/20-first.jpg");
    background-size: cover;
    background-position: center center;
    @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){
                                      
        background-image: url("../image/20-first@2x.jpg"); 
                          }
    @media screen and (max-width: 550px){
            height: 300px;
            background-position: center center;
        }
}

.level2{
    max-width: 2000px;
    .second20{
        height: 400px;
        width: 100%;
        margin: 0 auto;
        background-image: url("../image/20-second.jpg");
        background-size: cover;
        background-position: center center;
        @media screen and (max-width: 550px){
            height: 300px;
            background-position: center left;
        }
    }
    .third20{
        height: 400px;
        width: 100%;
        margin: 0 auto;
        background-image: url("../image/20-third.jpg");
        background-size: cover;
        background-position: center center;
        @media screen and (max-width: 550px){
            height: 300px;
        }
    }
}

.item{
    width: 100%;
    padding-left: 12%;
    @media screen and (max-width: 550px){
            padding-left: 10%;
    }
    img{
        width: 15%;
        margin-bottom: 8%;
        margin-right: 8%;
        @media screen and (max-width: 550px){
            width: 40%;
        }
    }
    a{
        text-decoration: none;
    }
}
//---------------------------------------------------16/20ft


//---------------------------------------------------gallery
.space{
    font-size: 2.4rem;
    font-family: $title;
    font-weight: 400;
    letter-spacing: .1rem;
    float: left;
    margin: 130px 0 30px 24%;
}
.another{
    font-size: 2.4rem;
    font-family: $title;
    font-weight: 400;
    letter-spacing: .1rem;
    float: right;
    margin: 130px 24% 30px 0;
    color: #d3d3d3;
}
.subtitle{
    font-size: 2.4rem;
    font-family: $title;
    font-weight: 400;
    letter-spacing: .1rem;
    float: left;
    margin: 0 0 20px 12%;
}

.space_an{
    font-size: 2.4rem;
    font-family: $title;
    font-weight: 400;
    letter-spacing: .1rem;
    float: right;
    margin: 130px 24% 30px 0;
    color: #d3d3d3;
}
.another_an{
    font-size: 2.4rem;
    font-family: $title;
    font-weight: 400;
    letter-spacing: .1rem;
    float: left;
    margin: 130px 0 30px 24%;
}
@media screen and (max-width: 550px){
    .other{display: none;}
    .space{margin: 100px 0 30px 10%;}
    .space_an{display: none;}
    .another_an{margin: 100px 0 30px 10%;}
    .subtitle{margin: 0 0 10px 10%;}
}

.another:hover{
    color: $gold;
}
.space_an:hover{
    color: $gold;
}

@media screen and (max-width: 550px){
    .another{display: none;}
}
//---------------------------------------------------gallery

.thanks{
    height: 600px;
    width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 0 20px;
    padding-top: 350px;
    background-image: url("../image/18_group.jpg");
    background-size: cover;
    background-position: center center;
    p{
        color: white;
        font-size: 2.0rem;
    }
    a{
        color: white;
        font-size: 2.0rem;
        text-decoration: none;
    }
    a:hover{
        color: $gold;
    }
}
@media screen and (max-width: 550px){
    .thanks{
        width: 100%;
        padding: 350px 10px 0 10px;
        p{
            font-size: 1.6rem;
        }
    }
}